[package]
name = "pubky-app-specs"
version = "0.2.1"
edition = "2021"
description = "Pubky.app Data Model Specifications"
homepage = "https://pubky.app"
repository = "https://github.com/pubky/pubky-app-specs"
license = "MIT"
documentation = "https://github.com/pubky/pubky-app-specs"

[dependencies]
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.133"
url = "2.5.4"
base32 = "0.5.1"
blake3 = "1.5.4"
utoipa = { version = "5.2.0", optional = true }

[dev-dependencies]
tokio = { version = "1.41.1", features = ["full"] }
pubky = "0.3.0"
pubky-common = "0.1.0"
anyhow = "1.0.93"

[features]
openapi = ["utoipa"]
